<table id="scoretable">
  <tr>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
    <th>9</th>
    <th>10</th>
    <th>11</th>
    <th>12</th>
  </tr>
  <tr>
    <% (1..12).each do |i| %>
      <td id="s1-<%= i %>">&nbsp;</td>
    <% end %>
  </tr>
  <tr>
    <% (1..12).each do |i| %>
      <td id="s2-<%= i %>">&nbsp;</td>
    <% end %>
  </tr>

 <tr>
    <% (1..12).each do |i| %>
      <td id="s2-<%= i %>">&nbsp;</td>
    <% end %>
  </tr>
  
   <tr>
    <% (1..12).each do |i| %>
      <td id="s2-<%= i %>">&nbsp;</td>
    <% end %>
  </tr>
  
   <tr>
    <% (1..12).each do |i| %>
      <td id="s2-<%= i %>">&nbsp;</td>
    <% end %>
  </tr>
  
   <tr>
    <% (1..12).each do |i| %>
      <td id="s2-<%= i %>">&nbsp;</td>
    <% end %>
  </tr>
  
   <tr>
    <% (1..12).each do |i| %>
      <td id="s2-<%= i %>">&nbsp;</td>
    <% end %>
  </tr>
  
   <tr>
    <% (1..12).each do |i| %>
      <td id="s2-<%= i %>">&nbsp;</td>
    <% end %>
  </tr>
  
   <tr>
    <% (1..12).each do |i| %>
      <td id="s2-<%= i %>">&nbsp;</td>
    <% end %>
  </tr>
  
   <tr>
    <% (1..12).each do |i| %>
      <td id="s2-<%= i %>">&nbsp;</td>
    <% end %>
  </tr>




</table>
